{
  "processors": ["stylelint-processor-styled-components"],
  "plugins": ["stylelint-prettier"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "customSyntax": "@stylelint/postcss-css-in-js",
  "rules": {
    "prettier/prettier": true,
    "value-keyword-case": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/-styled-mixin/",
          "$dummyValue"
        ]
      }
    ]
  }
}
